body{
    padding:0px;
    margin: 0px;
    font-family: Montserrat, sans-serif;
    color: #525252
 
}

section{
    background-color: #002E7B;
    height: 100%;
    width: 100%;
    display: inline-block;
    text-align: center;  
    padding-top: 75px;
    padding-bottom: 75px;

}




.cabeçalho{
    
    background-color: #fff;
    display: inline-block;
    height: 80px;
    width: 100%;
    position: fixed;
    top:0;
    left: 0;

}

.cabeçalho h1{
    color: black;
    padding:0px;
    margin: 0px;
    display: inline-block;
    vertical-align: top;
    margin-top: 15px;
    margin-left: 150px;
    margin-right: 350px;

}

.cabeçalho ul, li{
    padding:0px;
    margin: 0px;
    display: inline-block;
    vertical-align: top;
    margin-top: 15px;
    margin-left: 25px;

}

.cabeçalho li :hover{
    color: black

}

.cabeçalho input{
    display: inline-block;
    vertical-align: top;
    margin-top: 15px;
    margin-left: 18px;
    border-radius: 50px 0px 0px 50px;
    background-color: #D9E7EE;
}

.cabeçalho button{
    width: 100px;
    height: 22px;
    display: inline-block;
    vertical-align: top;
    margin-top: 15px;
    background-color: #ABC9D9;
    border: none;
    border-radius: 0px 50px 50px 0px; 
}

.cabeçalho h2{
    display: none

}


.noticia{
    background-color: #EBF5FF;
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 50px;
    margin-left: 50px;
    width: 250px;
    height: 400px;
    border-radius: 5px;


}



.noticia h1{
    color: #00457A;
    font-weight: bold;
    text-align: left;
    margin-left: 15px;
    margin-bottom: 5px;
}
.noticia p {
    display: inline-block;
    text-align: left;    
    color: black;
    margin-left: 15px;
    margin-right: 10px
}

.noticia button{
    color: #00457A;
    display: inline-block;
    vertical-align: top;
    margin-top: 15px;
    height: 8% ;
    width: 50%;
    border-radius: 5px;
    border: none;
    background-color: #ABC9D9;
}



footer{
    background-color: #fff;
    height: 70px;
    width: 100%;
    position: fixed;
    bottom:0;
    left: 0;
}

footer h1{
    margin:0px;
    padding-top: 15px;
    text-align: center;
    color: black;
}



@media(max-width: 1150px){

    .cabeçalho h1{
        display: none;
         
    }
    
    .cabeçalho h2{
        display: block;
        text-align: center;
        font-size: 30px;
    }

    .cabeçalho ul, li, input, button{
        display:none;
        text-align: center;

    }
    
}

@media(max-width: 510px){

    footer h1{
        font-size: 28px
    }

}




